@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFF8EC;
    min-height: 100vh;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-left: 60px;
}



nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #B31E2E;

}

nav .menu-icon {
    cursor: pointer;
    display: none;
}

nav .logo a {
    font-size: 30px;
    font-weight: bold;
    color: brown;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
}



main {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.sobre img {

    width: 800px;
    height: 500px;
}





@media (max-width:970px) {



    nav .menu-icon {
        display: block;
    }


    nav ul {
        z-index: 1;
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: brown;
    }

    nav ul.active {
        transform: translateX(0);
    }

    nav ul li {
        padding: 10px;
    }

    nav ul li a {
        font-size: 18px;
        color: white;
    }

    nav ul button {
        background-color: #f1676d;
        font-size: 18px;
        margin: 10px;
    }

    main {
        flex-direction: column;
    }


}

/*parte do srcoll*/



.slider {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 800px;
    overflow: hidden;
    border-radius: 5px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;

    margin-top: 350px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}



.navigation-auto {

    position: absolute;
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-auto div:not(:last-child) {
    margin-right: 50px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;
}


/*parte responsiva*/
@media screen and (max-width: 768px) {
    .slider {
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    .slides {
        width: 100%;
        height: auto;
    }

    .navigation-auto {

        position: absolute;
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }

}

/*quem somos*/
.quem {
    text-align: center;
    margin-top: 20px;
}

.quem p {
    font-size: 20px;
    color: black;

}

.quem button {
    width: 300px;
    height: 50px;
    font-size: 25px;
    background-color: #B31E2E;
    border-radius: 10px;
    color: #FFF8EC;
}

.container2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text {
    flex: 1;
}

.image3 {
    margin-right: 200px;
    margin-left: 200px;
}

/*acomodaçoes*/
.acomodaçoes {
    text-align: center;
}

.slideshow-container {
    margin-top: 50px;
    text-align: center;
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.slideshow-container h3 {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
}

.slideshow-image {
    display: none;
    width: 100%;
    height: 100%;
}

.slideshow-image.active {
    display: block;
}

.slideshow-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
}

.slideshow-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideshow-controls .prev,
.slideshow-controls .next {
    padding: 10px;
    cursor: pointer;
    background-color: lightgray;
}

@media (max-width: 600px) {
    .slideshow-container {

        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 300px;
    }

    .slideshow-description {
        font-size: 12px;
        bottom: 5px;
        left: 5px;
    }

    .slideshow-controls {
        flex-direction: column;
        margin-top: 5px;
    }

    .slideshow-controls .prev,
    .slideshow-controls .next {
        padding: 5px;

    }

    .quem {
        text-align: center;
        margin-top: 50px;
    }

    .quem p {
        margin: 5px;
        text-align: center;
        font-size: 15px;
        color: black;

    }
}

/*Area gourmet*/
.servicos {
    background-color: #B31E2E;
    text-align: center;
}

.area {
    text-align: center;
    height: 400px;
    background-color: #B31E2E;
}

.area1 {
    text-align: center;
    height: 400px;
}

.image-container {
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: px;
    background-color: #B31E2E;
}

.image-container .pulsate {
    color: #f1f1f1;

}



.image-wrapper {
    text-align: center;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.image-wrapper1 {
    text-align: center;
    margin-bottom: 40px;

    object-fit: cover;
}

.image-wrapper1 img {
    width: 100%;
    height: auto;
}

.image-wrapper1 h3 {
    color: #f1f1f1;
    margin: 10px 0;
}

.image-wrapper a {
    font-size: 10px;

    text-decoration: none;
    color: white;
}


footer {
    background-color: #B31E2E;
    color: #fff;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 200px;

}

.whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.medias-socias {

    z-index: 1;
    position: fixed;
    margin-top: 30px;
}

.medias-socias a {
    text-decoration: none;
}

.medias-socias i {
    font-size: 23px;
    margin: 0 3px;
    color: white;
    background-color: brown;
    padding: 7px;
    border-radius: 5px;
}